Feedback from.json
{
  "name": "Feedback from",
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Feedback Form",
        "formDescription": "user feedback from",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Type your Full Name"
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "Type Your Correct Email Here"
            },
            {
              "fieldLabel": "Contact info",
              "fieldType": "number",
              "placeholder": "Type your Contact number"
            },
            {
              "fieldLabel": "Feedback",
              "placeholder": "Type Your Feedback Here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -576,
        -80
      ],
      "id": "356bf623-51a0-4f68-9cbe-8d07632042e9",
      "name": "On form submission",
      "webhookId": "37c4171d-c372-418e-853e-6ae5e279f37f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your rule is to determine whether the customer's feedback is a complaint, a compliment, or a feature request. The feedback is{{ $json.Feedback }}\nYour response should be only one of the following\n1) complain\n2) compliment\n3) Feature Addition Request",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        -32
      ],
      "id": "e0a9bb48-b09a-47f8-9328-e2034ed1bd01",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        224
      ],
      "id": "6aef7009-98bf-43f3-a9b8-7cbf10b94d84",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "43cl6Mv0jx5gWehx",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        -320
      ],
      "id": "e85184d9-ff5a-460e-8b85-9e22cdfe8551",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d61129b0-07a0-4262-9b27-883f574ae1a8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e196ed7-2b63-4d21-a434-43c7a9e4853b",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "complain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e781f949-55db-4094-8210-54a0aa6dfe28",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Feature Addition Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        -304
      ],
      "id": "b0ea64f4-aa65-4bfa-b15b-1c8f8c433d90",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBUcbSezgHV1mTg",
          "mode": "list",
          "cachedResultName": "customer feedback",
          "cachedResultUrl": "https://airtable.com/appBUcbSezgHV1mTg"
        },
        "table": {
          "__rl": true,
          "value": "tblzvokg8Ux5KU31H",
          "mode": "list",
          "cachedResultName": "compliment",
          "cachedResultUrl": "https://airtable.com/appBUcbSezgHV1mTg/tblzvokg8Ux5KU31H"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Contact": "={{ String($json['Contact info']) }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        784,
        -560
      ],
      "id": "b4ed6621-ced5-429b-87d2-f65f7fffa86d",
      "name": "Compliment",
      "credentials": {
        "airtableTokenApi": {
          "id": "XEfBeBTwdAOZnEVQ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBUcbSezgHV1mTg",
          "mode": "list",
          "cachedResultName": "customer feedback",
          "cachedResultUrl": "https://airtable.com/appBUcbSezgHV1mTg"
        },
        "table": {
          "__rl": true,
          "value": "tblTBKK0qgRy0PkA9",
          "mode": "list",
          "cachedResultName": "complain",
          "cachedResultUrl": "https://airtable.com/appBUcbSezgHV1mTg/tblTBKK0qgRy0PkA9"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Contact": "={{ String($json['Contact info']) }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        832,
        -256
      ],
      "id": "2d3c86dc-a396-4003-898b-d54f077c179a",
      "name": "Complain",
      "credentials": {
        "airtableTokenApi": {
          "id": "XEfBeBTwdAOZnEVQ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBUcbSezgHV1mTg",
          "mode": "list",
          "cachedResultName": "customer feedback",
          "cachedResultUrl": "https://airtable.com/appBUcbSezgHV1mTg"
        },
        "table": {
          "__rl": true,
          "value": "tblX7wlgkElvRQfZQ",
          "mode": "list",
          "cachedResultName": "Features addition",
          "cachedResultUrl": "https://airtable.com/appBUcbSezgHV1mTg/tblX7wlgkElvRQfZQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Contact": "={{ String($json['Contact info']) }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "a7cf6533-fc39-4d91-80c8-9449d1d1cc32",
      "name": "Features request",
      "credentials": {
        "airtableTokenApi": {
          "id": "XEfBeBTwdAOZnEVQ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AQV1RN6DV",
          "mode": "list",
          "cachedResultName": "complain1"
        },
        "text": "={{ $('Switch').item.json['Full Name'] }}\n\n{{ $('Switch').item.json['Email Address'] }}\n\n{{ $('Switch').item.json.Feedback }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1104,
        -256
      ],
      "id": "66067487-f55d-4624-b231-934037a3aa5e",
      "name": "Send a message",
      "webhookId": "5db52d8b-02d3-42ae-b2af-751c99a410fb",
      "credentials": {
        "slackOAuth2Api": {
          "id": "jmAkIkXcJ7BZrfBd",
          "name": "Slack account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AR74MQ5RC",
          "mode": "list",
          "cachedResultName": "features-addition"
        },
        "text": "=\n\n{{ $('Switch').item.json.Feedback }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1104,
        0
      ],
      "id": "621f0745-f450-4939-a402-30ad044e3629",
      "name": "Send a message1",
      "webhookId": "5db52d8b-02d3-42ae-b2af-751c99a410fb",
      "credentials": {
        "slackOAuth2Api": {
          "id": "jmAkIkXcJ7BZrfBd",
          "name": "Slack account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Merge').item.json['Email Address'] }}",
        "subject": "Hy you  have taken complain your notice",
        "emailType": "text",
        "message": "= Hello\n {{ $('Merge').item.json['Full Name'] }}\n\nThis is regarding your recent complaint. We sincerely apologise for the inconvenience caused. Please be assured that our team is actively working to resolve the issue at the earliest. We appreciate your patience and will keep you informed with timely updates.\nThank you for your understanding.”",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        -256
      ],
      "id": "3a58d2b5-2297-4742-a4dc-6d170109d42a",
      "name": "Send a message2",
      "webhookId": "e786ca0c-57ff-4da7-8b8e-08be23bc2e9c",
      "credentials": {
        "gmailOAuth2": {
          "id": "gFI4gfMpWFPFyyWL",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Compliment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Features request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliment": {
      "main": [
        []
      ]
    },
    "Complain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Features request": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "40ebb37f-815f-413a-bb76-bcbe71b5d44b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c875417d27044dae7bea4be747cc0d94efa111dca58f102ec76a794d6e87372b"
  },
  "id": "YUcGextmmeYRsnJl",
  "tags": []
}